<?xml version="1.0"?>

<configuration>

  <connectionStrings>

    <add name="GrievanceSystemConnectionString1" connectionString="Data Source=DESKTOP-3PE5HTJ;Initial Catalog=GrievanceSystem;Integrated Security=True"
        providerName="System.Data.SqlClient" />

    <add name="GrievanceSystemConnectionString" connectionString="Data Source=DESKTOP-D0OR7VT;Initial Catalog=GrievanceSystem;Integrated Security=True"
        providerName="System.Data.SqlClient" />
	 
	  <add name="GrievanceSystemConnectionString2" connectionString="Data Source=HRUSHI;Initial Catalog=GrievanceSystem;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>

</configuration>
